# Test des données récupérées par API

Ce fichier prend en compte les requêtes pour l'appel API

À travailler : https://opendata.paris.fr/explore/dataset/logement-encadrement-des-loyers/api/?disjunctive.annee&disjunctive.id_zone&disjunctive.nom_quartier&disjunctive.piece&disjunctive.epoque&disjunctive.meuble_txt

Objet du traitement : encadrement du loyer à Paris

Date : 04-01-2024 <br>
Éditeur : <b>Laurent REYNAUD</b>

In [2]:
import requests
import json
import polars as pl

### URL API :

In [3]:
url_api = "/api/explore/v2.1/catalog/datasets/logement-encadrement-des-loyers/records?limit=20"

### Variables à saisir avec les requêtes SQL WHERE / LIMIT... ci-après :

In [ ]:
year = ['2019', '2020', '2021', '2022', '2023'] # donnée "annee"
geo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14] # donnée 'id_zone'
districts = pl.read_csv('data/districts.csv') # donnée 'nom_quartier'
rooms = [1, 2, 3, 4] # donnée 'piece'
period = ["Avant 1946", "1946-1970", "1971-1990", "Apres 1990"] # donnée 'epoque'
furnished = ["meublé", "non meublé"] # donnée 'meuble_txt'

### Requête SQL avec SELECT :

### Requête SQL avec WHERE :

code_postal='34080'

### Requête SQL avec GROUP_BY :

cct_denomination AS nom, cct_adresse AS adresse, code_postal, cct_code_commune AS commune, prix_visite, prix_contre_visite_min, prix_contre_visite_max

### Requête SQL avec ORDER BY :

prix_visite

### Requête SQL avec LIMIT :

100

### Intervention sur python

In [16]:
# Accès à l'URL avec le requêtage appliqué : 
url = f"https://data.economie.gouv.fr/api/explore/v2.1/catalog/datasets/controle_techn/records?where=code_postal%3D%27{code_postal}%27&group_by=cct_denomination%20AS%20nom%2C%20cct_adresse%20AS%20adresse%2C%20code_postal%2C%20cct_code_commune%20AS%20commune%2C%20prix_visite%2C%20prix_contre_visite_min%2C%20prix_contre_visite_max&order_by=prix_visite&limit={limit}"

In [3]:
# Requête url
response = requests.get(url)

In [4]:
# Code statut html
response.status_code

200

In [5]:
# Récupération du contenu au format json
data = json.loads(response.content)

In [15]:
# Affichage des données
df = pl.DataFrame(data['results'])