[Emploi par zone](https://www.data.gouv.fr/fr/datasets/effectifs-salaries-et-masse-salariale-trimestriels-du-secteur-prive-par-zone-demploi/)

Date : 24-01-24 <br>
Éditeur : Laurent Reynaud

In [33]:
import pandas as pd

In [35]:
job_df = pd.read_csv('data/emploi.csv', sep=";")

In [49]:
# Champs à conserver
job_s1 = job_df[[
    "annee", "trimestre", "region", "zone_d_emploi",
    "effectifs_salaries_cvs", "masse_salariale_cvs"]].sort_values(
        by=['annee', 'trimestre', 'zone_d_emploi'])

In [50]:
# Filtre sur le champ 'annee'
job_f1 = job_s1[job_s1['annee'] > 2013]

In [51]:
job_f1.head(5)

,annee,trimestre,region,zone_d_emploi,effectifs_salaries_cvs,masse_salariale_cvs
27011,2014,1,Hauts-de-France,Abbeville,16605,92190734
32104,2014,1,Occitanie,Agde-Pézenas,14853,80703017
30754,2014,1,Nouvelle-Aquitaine,Agen,35036,210353555
10786,2014,1,Provence-Alpes-Côte d'Azur,Aix-en-Provence,123597,868598800
11521,2014,1,Corse,Ajaccio,27209,168052737

In [58]:
job_f1[job_f1['zone_d_emploi'] == 'Arles']

,annee,trimestre,region,zone_d_emploi,effectifs_salaries_cvs,masse_salariale_cvs
19369,2014,1,Occitanie,Arles,3930,22836405
34698,2014,1,Provence-Alpes-Côte d'Azur,Arles,26195,154166617
6057,2014,2,Occitanie,Arles,3893,22132506
13079,2014,2,Provence-Alpes-Côte d'Azur,Arles,26385,155495973
32588,2014,3,Occitanie,Arles,3867,21864610
...,...,...,...,...,...,...
34713,2023,1,Provence-Alpes-Côte d'Azur,Arles,31297,229276837
11407,2023,2,Provence-Alpes-Côte d'Azur,Arles,31235,230630129
32598,2023,2,Occitanie,Arles,4335,29245334
6068,2023,3,Occitanie,Arles,4338,30128435
34714,2023,3,Provence-Alpes-Côte d'Azur,Arles,31352,232472228