# [Zone d'Aide à Finalité Régionale](https://www.data.gouv.fr/fr/datasets/zones-daide-a-finalite-regionale-afr/)

Liste des communes éligibles au dispositif "Aide à finalité régionale" pour la période 2022 - 2027

Date :  <br>
Éditeur : <b>Laurent REYNAUD</b>

In [72]:
import pandas as pd

In [105]:
# Récupération du fichier .csv exporté du site open data, 
# converti en df pandas
city_df = pd.read_csv('data/afr_2022.csv', sep=";", encoding='latin-1')
city_df.head(3)

  insee_com          lib_com classement_afr     N°
0      1014           Arbent  intégralement  01014
1      1031        Bellignat  intégralement  01031
2      1058  Brégnier-Cordon  intégralement  01058

In [106]:
# Récupération du fichier .csv des données récupérées sur les départements,
# converti en df pandas
district_df = pd.read_csv(
    'data/departement_afr.csv', encoding='unicode_escape', sep=";")
district_df.head(3)

   N° Département        Chef-lieu                Région
0  01         Ain  Bourg-en-Bresse  Auvergne-Rhône-Alpes
1  02       Aisne             Laon       Hauts-de-France
2  03      Allier          Moulins  Auvergne-Rhône-Alpes

In [107]:
# Fusion des deux fichiers ci-avant
afr_df = city_df.merge(district_df, on='N°')
afr_df.head(3)

,insee_com,lib_com,classement_afr,N°,Département,Chef-lieu,Région
0,10003,Aix-Villemaur-Pâlis,intégralement,10,Aube,Troyes,Grand Est
1,10005,Amance,intégralement,10,Aube,Troyes,Grand Est
2,10006,Arcis-sur-Aube,intégralement,10,Aube,Troyes,Grand Est

In [108]:
# Renommage de champs
afr_df.rename(columns={
    'lib_com':'Commune', 'classement_afr':'AFR',
    'N°':'N° de département'}, inplace=True)

In [109]:
# Sélection des champs à afficher
afr_df = afr_df[[
    'Commune', 'N° de département', 'Département', 'Région', 'AFR', ]]
afr_df.head(3)

               Commune N° de département Département     Région            AFR
0  Aix-Villemaur-Pâlis                10        Aube  Grand Est  intégralement
1               Amance                10        Aube  Grand Est  intégralement
2       Arcis-sur-Aube                10        Aube  Grand Est  intégralement

In [114]:
# Vérification si telle commune est éligible à la zone d'AFR
city = input("Nom de la commune : ")
afr_df[afr_df['Commune'].str.contains(f'^{city}', case=False)]

,Commune,N° de département,Département,Région,AFR
4357,Belfonds,61,Orne,Normandie,intégralement
5044,Belfahy,70,Haute-Saône,Bourgogne-Franche-Comté,intégralement
6260,Belfort,90,Territoire-de-Belfort,Bourgogne-Franche-Comté,intégralement