[Emploi par zone](https://www.data.gouv.fr/fr/datasets/effectifs-salaries-et-masse-salariale-trimestriels-du-secteur-prive-par-zone-demploi/)

Date : 24-01-24 <br>
Éditeur : Laurent Reynaud

Avec la librairie pandas

In [1]:
import pandas as pd

In [2]:
job_df = pd.read_csv('data/emploi.csv', sep=";")

In [3]:
# Champs à conserver
job_s1 = job_df[[
    "annee", "trimestre", "region", "zone_d_emploi",
    "effectifs_salaries_cvs", "masse_salariale_cvs"]].sort_values(
        by=['annee', 'trimestre', 'zone_d_emploi'])

In [4]:
# Filtre sur le champ 'annee'
job_f1 = job_s1[job_s1['annee'] > 2013]

In [5]:
job_f1.head(5)

,annee,trimestre,region,zone_d_emploi,effectifs_salaries_cvs,masse_salariale_cvs
27011,2014,1,Hauts-de-France,Abbeville,16605,92190734
32104,2014,1,Occitanie,Agde-Pézenas,14853,80703017
30754,2014,1,Nouvelle-Aquitaine,Agen,35036,210353555
10786,2014,1,Provence-Alpes-Côte d'Azur,Aix-en-Provence,123597,868598800
11521,2014,1,Corse,Ajaccio,27209,168052737

In [6]:
job_f1[job_f1['zone_d_emploi'] == 'Arles'].head(3)

,annee,trimestre,region,zone_d_emploi,effectifs_salaries_cvs,masse_salariale_cvs
19369,2014,1,Occitanie,Arles,3930,22836405
34698,2014,1,Provence-Alpes-Côte d'Azur,Arles,26195,154166617
6057,2014,2,Occitanie,Arles,3893,22132506

In [7]:
my_df = job_f1.rename(columns={'effectifs_salaries_cvs': 'Effectifs',
                      'masse_salariale_cvs': 'Salaires'})

In [8]:
my_df

,annee,trimestre,region,zone_d_emploi,Effectifs,Salaires
27011,2014,1,Hauts-de-France,Abbeville,16605,92190734
32104,2014,1,Occitanie,Agde-Pézenas,14853,80703017
30754,2014,1,Nouvelle-Aquitaine,Agen,35036,210353555
10786,2014,1,Provence-Alpes-Côte d'Azur,Aix-en-Provence,123597,868598800
11521,2014,1,Corse,Ajaccio,27209,168052737
...,...,...,...,...,...,...
16921,2023,3,Bretagne,Vitré,31673,250173000
11925,2023,3,Auvergne-Rhône-Alpes,Voiron,43615,332086706
26384,2023,3,Normandie,Yvetot-Vallée du Commerce,28307,235317860
28003,2023,3,Grand Est,Épernay,18144,153793703
28261,2023,3,Grand Est,Épinal,44757,336057516

Avec la librairie polars

In [62]:
import polars as pl

In [63]:
job_df = pl.scan_csv('data/emploi.csv', separator=";")

In [65]:
# Filtre sur le champ 'annee'
job_f1 = job_df.filter(pl.col('annee') > 2013)

In [67]:
# Filtre de la DF selon la région et la zone d'emploi choisie
table_df = job_f1.filter(
    (pl.col('region').str.contains('Grand Est')) &
    (pl.col('zone_d_emploi').str.contains('Mulhouse'))
)

In [68]:
# Champs à conserver
table_df = table_df.select(
    ['annee', 'trimestre', 'effectifs_salaries_cvs', 'masse_salariale_cvs',])

In [70]:
table_df.collect().to_dict('records')

C:\Users\LRCOM\AppData\Local\Temp\ipykernel_4932\914063249.py:1: DeprecationWarning: All arguments of DataFrame.to_dict will be keyword-only in the next breaking release. Use keyword arguments to silence this warning.
  table_df.collect().to_dict('records')

{'annee': shape: (39,)
 Series: 'annee' [i64]
 [
 	2014
 	2015
 	2016
 	2016
 	2016
 	2017
 	2017
 	2018
 	2019
 	2020
 	2021
 	2021
 	…
 	2020
 	2020
 	2022
 	2023
 	2014
 	2014
 	2018
 	2018
 	2019
 	2021
 	2021
 	2022
 	2023
 ],
 'trimestre': shape: (39,)
 Series: 'trimestre' [i64]
 [
 	2
 	1
 	2
 	3
 	4
 	2
 	4
 	3
 	1
 	1
 	1
 	3
 	…
 	3
 	4
 	4
 	1
 	1
 	3
 	1
 	4
 	3
 	2
 	4
 	2
 	2
 ],
 'effectifs_salaries_cvs': shape: (39,)
 Series: 'effectifs_salaries_cvs' [i64]
 [
 	121176
 	120002
 	120193
 	119917
 	119562
 	120802
 	122120
 	122009
 	122710
 	118143
 	119669
 	121071
 	…
 	118767
 	119432
 	123421
 	123090
 	121739
 	120598
 	122531
 	122394
 	122630
 	120709
 	122093
 	122947
 	122996
 ],
 'masse_salariale_cvs': shape: (39,)
 Series: 'masse_salariale_cvs' [i64]
 [
 	788090717
 	789026058
 	804036863
 	804072256
 	803688138
 	820231619
 	841231450
 	851229490
 	858605135
 	828839882
 	815224326
 	863679876
 	…
 	834218266
 	826015676
 	912430122
 	934989612
 	792045577
 	789064858
 	846349281
 	859395952
 	868344738
 	825132703
 	869876459
 	897163575
 	941935064
 ]}